:root{
    --main-font-family: 'Source Sans Pro', sans-serif;
    --headline-font-family: 'Vollkorn', serif;
    --leleka-blue: #00acf1;
    --leleka_yellow: #ffde13;
}

html{
    text-align: center;
    margin: 0 auto;
    font-family: var(--main-font-family);
}

section{
    padding: 30px;
}

h1, h2{
    font-family: var(--headline-font-family);
    line-height: 2;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

ul{
    list-style: none;
}

/* hero section */

.hero{
    background-image: url(./images/);
    background-repeat: no-repeat;
    background-size: contain;}

/* team section */

svg{
    fill: grey;
    width: 20px;
    height: 20px;
}

.team-member-portrait{
    width: 200px;
}

.social-media-container{
    width: 50%;
    margin: 10px auto;
}

/* general */

.yellow {
    background-color: var(--leleka_yellow);
}

.blue{
    background-color: var(--leleka-blue);}