:root{
    --main-font-family: 'Source Sans Pro', sans-serif;
    --headline-font-family: 'Vollkorn', serif;
    --leleka-blue: #00acf1;
    --leleka_yellow: #ffde13;
}

html{
    text-align: center;
    margin: 0 auto;
    font-family: var(--main-font-family);
}

h1, h2, h3{
    font-family: var(--headline-font-family);
}

ul{
    list-style: none;
}